<div class="w-full flex flex-col gap-4 md:gap-6 md:p-4">
  <h2 class="font-bold text-xl text-red">Delete this board?</h2>
  <p class="text-mediumGray">
    Are you sure you want to delete the ‘Platform Launch’ board? This action will remove all columns
    and tasks and cannot be reversed.
  </p>
  <div class="w-full flex items-center gap-4">
    <button
      class="w-full bg-red text-white border-2 border-red active:bg-white dark:active:bg-darkBg active:text-red px-3 lg:px-4 md:px-6 py-3 lg:py-4 rounded-full flex justify-center items-center gap-2 duration-75 active:scale-75"
    >
      <span class="material-symbols-outlined"> remove </span>
      <p class="capitalize text-xs font-bold">Delete</p>
    </button>

    <button
      class="w-full bg-lightPurple/30 text-purple dark:text-white border-2 border-transparent active:bg-white dark:active:bg-darkBg active:text-lightPurple px-3 lg:px-4 md:px-6 py-3 lg:py-4 rounded-full flex justify-center items-center gap-2 duration-75 active:scale-75"
    >
      <span class="material-symbols-outlined rotate-45"> add </span>
      <p class="capitalize text-xs font-bold">Cancel</p>
    </button>
  </div>
</div>
